<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rd.zhang.aio.kotlin.core">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application>

        <service android:name=".service.AioCoreService">
            <intent-filter>
                <action android:name="core.service"></action>
            </intent-filter>
        </service>

    </application>
</manifest>
